.body {
  margin: 75px 400px;
}

.button-card {
  font-size: 20px;
  background-color: rgb(77, 9, 126);
  border-style: none;
  padding: 10px;
  border-radius: 10px;
}

.buttonfont {
  text-decoration: none;
  color: white;
}

.cardborder {
  border-style: none;
  margin: auto;
  width: fit-content;
  box-shadow: 2px 2px 10px;
  border-radius: 10px;
  text-align: center;
}

.image {
  width: 500px;
  border-radius: 10px;
  margin-bottom: 0px;
}

.cardtext {
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.flex-container {
  display: flex;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 20px;
  justify-content: center;
}
